############################
# Maven / Java
############################
target/
*.class

############################
# Eclipse
############################
.settings/
.project
.classpath

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Environment files
############################
.env
.env.*
!.env.example

############################
# Optional IDE files
############################
.idea/
*.iml

############################
# Node / JS / Frontend
############################
node_modules/
jspm_packages/
bower_components/
.build/
dist/
.cache/
.nuxt/
.next/
out/
.yarn/
.pnp.*
.parcel-cache/
.vscode-test/
